name: Checks

env:
  CARGO_INCREMENTAL: 0
  CARGO_TERM_COLOR: "always"
  # Add this feature by default, to easily install SDL3
  CI_BUILD_FEATURES: "build-from-source"

on:
  push:
    branches: ["master"]
  pull_request:

jobs:
  clippy-version-features:
    name: Clippy - feature ${{ matrix.feature }}
    runs-on: ubuntu-latest
    
    strategy:
      fail-fast: false
      matrix:
        feature:
          - ash
          - unsafe_textures
          - ttf
          - hidapi
          - raw-window-handle
          - image

    steps:
      - name: checkout sources
        uses: actions/checkout@v6

      - name: Install Linux dependencies
        uses: ./.github/actions/install-linux-deps

      - name: Install toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          components: clippy

      - name: Fetch dependencies
        run: cargo +stable fetch --locked

      # TODO: deny all warnings
      - name: Clippy
        run: |
          cargo +stable \
            clippy \
            --verbose \
            --locked \
            --offline \
            --all-targets \
            --features "$CI_BUILD_FEATURES ${{ matrix.feature }}" \
            -- \
            -A warnings \
            -W clippy::not_unsafe_ptr_arg_deref

  build-version-features:
    name: Build - ${{ matrix.os }} - feature ${{ matrix.feature }}
    runs-on: ${{ matrix.os }}
    
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest]
        feature:
          - ash
          - unsafe_textures
          - ttf
          - hidapi
          - raw-window-handle
          - image

    steps:
      - name: checkout sources
        uses: actions/checkout@v6

      - name: Install Linux dependencies
        uses: ./.github/actions/install-linux-deps

      - name: Install toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable

      - name: Fetch dependencies
        run: cargo +stable fetch --locked

      - name: Build
        run: |
          cargo +stable \
            build \
            --verbose \
            --locked \
            --offline \
            --examples \
            --all-targets \
            --features "$CI_BUILD_FEATURES ${{ matrix.feature }}"

  tests:
    name: Tests - ${{ matrix.name }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        include:
          - name: default
            features: ""
          - name: build-from-source-static
            features: "build-from-source-static"
          - name: image
            features: "image"

    steps:
      - name: checkout sources
        uses: actions/checkout@v6

      - name: Install Linux dependencies
        uses: ./.github/actions/install-linux-deps

      - name: Install Xvfb
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install --no-install-recommends xvfb
      - name: Install toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable

      - name: Fetch dependencies
        run: cargo +stable fetch --locked

      - name: Test
        env:
          SDL_VIDEODRIVER: x11
          SDL_AUDIODRIVER: dummy
        run: |
          FEATURES="$(echo "$CI_BUILD_FEATURES ${{ matrix.features }}" | xargs)"
          xvfb-run --auto-servernum --server-args="-screen 0 1280x720x24" \
            cargo +stable \
              test \
              --verbose \
              --locked \
              --offline \
              --all-targets \
              --features "$FEATURES"

  fmt:
    name: Formatting
    runs-on: ubuntu-latest

    steps:
      - name: Checkout sources
        uses: actions/checkout@v6

      - name: Install toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          components: rustfmt

      - name: Check formatting
        run: cargo fmt --all -- --check
